extends ../layouts/common

block content
    h1 User 
    .d-flex.align-items-center
        form.ml-auto(action="/users/search", method="GET").d-flex
            input.form-control(name="q")
            button.btn.btn-info.ml-2 Search
            a.btn.btn-primary.ml-2(href="/users/create") New
    table.table
        tr 
            th Name 
            th Phone 
            th Action 
        each user in users 
            tr 
                td= user.name 
                td= user.phone 
                td  
                    a.btn.btn-light.mr-1(href="/users/" + user.id) view
                    a.btn.btn-warning.mr-1(href="") edit 
                    a.btn.btn-danger(href="") delete